# [user]
        email = example@aaa.com
        name = hiramiya523
[init]
        defaultBranch = main

[alias]
        alias = !sh -c 'git config --list | grep ^alias\\. '
        # alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"

        st = status
        ad = add
        cm = commit -m
        co = checkout
        wip = !git add . && git commit -m 'wip' && git push

        sw = switch
        df = diff

        bc = branch
        # git branch -D hoge-branch 削除
        # git branch -vv  Upstream確認
        # git diff brancA branchB

        # 1. リモートbranchを持ってくる
        # git fetch origin hoge-branch 
        # 2. リモートbranchを取り込めているか確認
        # git branch -r
        # 3. 名前つけなくていいなら、リモート指定でよい
        # git co -b 1.5-feat-#28-attracting-customer

        # リモートになく、手元に残ったブランチをクリア
        # git fetch --prune

        #  rm cached
        # git rm -r --cached .

        # コミット取り消し
        #  git reset --soft HEAD^
        # コミット履歴ごと消せる
        #  git reset --herd {id}

        # パスワードをキャッシュを有効化する
        # git config --global credential.helper cache

        # 特定のコミットに戻す
        rv = git revert

        # stash
        sta = git stash apply
        # git stash pop  -> apply&delete

        # git stash list
        stm = git stash save
        # git stash clear // 全削除

        #  git diff stash@{0} //差分

        # specify file
        # usage: git stash push -m "stash name" -- filepath
        stf = git stash push -- 


        # merge 関連
        # - dry-runする
        # 1 コンフリクトするか確認できる
        # git merge --no-commit --no-ff <branch>
        # Note: ffは Fast Forward Merge、マージコミットを必ず残したい。追跡が容易になるので。
        
        # 2 取り消し
        # git merge --abort

        # 派生元確認
        # git show-branch | grep '*' | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -1 | awk -F'[]~^[]' '{print $2}'
